<html>
    <head>
        <style>
             body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
  }
  
        </style>
    </head>
    <body>
        <form action="member/sendpassword">
        <input type="email" name="email" placeholder="email">
        <button type="submit">Send password</button>
        </form>
    </body>
</html>