<html>
    <head> 
        <link rel="stylesheet" href="stylehome.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">  </head>
    <body>
        <form action="/member/registerpost" method="post">
          <div class='login'>
            <div class='login_title'>
              <span><b>Register Here</b></span>
            </div>
            
            <div class='login_fields'>
              <div class='login_fields__user'>
                <div class='icon'>
                  <!--<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>-->
                  <i class="fa fa-user" style="color: aliceblue;"></i>
                </div>
                <input placeholder='Username' type='text' name="username"> 
                  <div class='validation'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                  </div>
              </div>
            

              <div class='login_fields__password'>
                <div class='icon'>
                  <!--<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>-->
                  <i class="fa fa-key" style="color: aliceblue;"></i>
                </div>
                <input placeholder='Password' type='password' name="password">
                <div class='validation'>
                  <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                </div>
              </div>


              <div class='login_fields__email'>
                <div class='icon'>
                 <!-- <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>-->
                  <i class="fa fa-envelope" style="color: aliceblue;"></i>
                </div>
                <input placeholder='Email' type='email' name="email">
                <div class='validation'>
                  <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                </div>
              </div>
              

              <div class='login_fields'>
                <div class='icon'>
                 <!-- <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>-->
                  <i class="fa fa-mobile" style="color: aliceblue;"></i>
                </div>
                <input placeholder='Mobile Number' type='number' name="mobile">
                <div class='validation'>
                  <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                </div>
              </div>
             

<br><br>


              <div class='login_fields__submit'>
                <input type='submit' value='Sign Up'>
                <div class='forgot'>
                  <a href='/member'  id="a1">Login?</a>
                </div>
              </div>

            </div>
         </div>
       
            </form>
           </body>
</html>